.proceedtopaybtnchit {
  background: linear-gradient(90deg, #006537 0%, #01a056 50.5%, #006e39 100%);
}

.proceedtopaybtngold {
  background: linear-gradient(90deg, #b28800 0%, #d9a500 52.5%, #ab8200 100%);
}

.proceedtopaybtnsilver {
  background: linear-gradient(90deg, #676767 0%, #aaa4a4 50%, #676767 100%);
}
.formbg {
  background: linear-gradient(90deg, #af8a10 0%, #d9a600d8 52.5%, #af8a10 100%);
}

@keyframes moveUp {
  from {
    transform: translateY(100px); /* Start position (100px below) */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End position (original position) */
    opacity: 1;
  }
}

.moveUp {
  position: relative;
  animation: moveUp 1s ease-in-out forwards;
}
